How to test for momentum change in NFL football using a ten year period of data from 2002 to 2012.

First, consolidate data from Advanced Football Analytics Play-By-Play Data by Brian Burke.

In the process of creating this dataframe, I added two columns in Access that would help out with the data crunching.  A) I added a column that simply provided the yards gained IF it was a third down, B) I added another column to immediately trigger "Succes" if there was either more yards gained than needed for the 3rd down OR a touchdown/field goal was made. In the later cases (although there are NOT many field goals attempted on 3rd down) the 3rd down was considered a success in my dataframe.

In [245]:
import pandas as pd
import numpy as np
from scipy import stats
import requests
import csv

from sklearn.preprocessing import StandardScaler, Normalizer
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics

%matplotlib inline
import seaborn as sns

In [246]:
NFLDataFrame = pd.read_csv("../data/2002_2012_nfl_pbp_data.csv")
print NFLDataFrame.dtypes
print NFLDataFrame.head(32)
print NFLDataFrame.shape

gameid             object
qtr                 int64
min               float64
sec               float64
off                object
def                object
down              float64
togo              float64
ydline            float64
description        object
3rd Down Yards     object
Successful_3rd     object
offscore            int64
defscore            int64
season              int64
dtype: object
              gameid  qtr   min   sec  off  def  down  togo  ydline  \
0   20120905_DAL@NYG    1  51.0  43.0  NYG  DAL   2.0   8.0    29.0
1   20120905_DAL@NYG    1  51.0  33.0  DAL  NYG   1.0  10.0    66.0
2   20120905_DAL@NYG    1  50.0  54.0  DAL  NYG   2.0   8.0    64.0
3   20120905_DAL@NYG    1  50.0  39.0  DAL  NYG   2.0  13.0    69.0
4   20120905_DAL@NYG    1  50.0   1.0  DAL  NYG   3.0   4.0    60.0
5   20120905_DAL@NYG    1  49.0  26.0  DAL  NYG   1.0  10.0    46.0
6   20120905_DAL@NYG    1  49.0   9.0  DAL  NYG   1.0  15.0    51.0
7   20120905_DAL@NYG    1  48.0  22.0  DAL  NYG   2.0  10.0    46.0
8   20120905_DAL@NYG    1  48.0  13.0  DAL  NYG   3.0  10.0    46.0
9   20120905_DAL@NYG    1  47.0  46.0  DAL  NYG   4.0   1.0    37.0
10  20120905_DAL@NYG    1  47.0  12.0  NYG  DAL   1.0  10.0    63.0
11  20120905_DAL@NYG    1  46.0  35.0  NYG  DAL   1.0  10.0    53.0
12  20120905_DAL@NYG    1  45.0  58.0  NYG  DAL   2.0   7.0    50.0
13  20120905_DAL@NYG    1  45.0  21.0  NYG  DAL   3.0   2.0    45.0
14  20120905_DAL@NYG    2  45.0   0.0  NYG  DAL   1.0  10.0    41.0
15  20120905_DAL@NYG    2  44.0  30.0  NYG  DAL   2.0  25.0    56.0
16  20120905_DAL@NYG    2  43.0  46.0  NYG  DAL   3.0  14.0    45.0
17  20120905_DAL@NYG    2  43.0  36.0  NYG  DAL   4.0  14.0    45.0
18  20120905_DAL@NYG    2  43.0  27.0  DAL  NYG   1.0  10.0    80.0
19  20120905_DAL@NYG    2  42.0  41.0  DAL  NYG   1.0  10.0    62.0
20  20120905_DAL@NYG    2  41.0  57.0  DAL  NYG   2.0  11.0    63.0
21  20120905_DAL@NYG    2  41.0  10.0  DAL  NYG   3.0   3.0    55.0
22  20120905_DAL@NYG    2  40.0  46.0  DAL  NYG   3.0   8.0    60.0
23  20120905_DAL@NYG    2  40.0  30.0  NYG  DAL   1.0   1.0     1.0
24  20120905_DAL@NYG    2  40.0   5.0  NYG  DAL   2.0   3.0     3.0
25  20120905_DAL@NYG    2  39.0  23.0  NYG  DAL   3.0   4.0     4.0
26  20120905_DAL@NYG    2  39.0  14.0  NYG  DAL   4.0   4.0     4.0
27  20120905_DAL@NYG    2  39.0  14.0  NYG  DAL   NaN   NaN     4.0
28  20120905_DAL@NYG    2  39.0   5.0  DAL  NYG   1.0  10.0    80.0
29  20120905_DAL@NYG    2  38.0  33.0  DAL  NYG   2.0   8.0    78.0
30  20120905_DAL@NYG    2  37.0  59.0  DAL  NYG   1.0  10.0    68.0
31  20120905_DAL@NYG    2  37.0  20.0  DAL  NYG   2.0   7.0    65.0

                                          description  \
0   (6:43) D.Wilson left end to DAL 27 for 2 yards...
1   (6:33) D.Murray left tackle to DAL 36 for 2 ya...
2   (5:54) (Shotgun) PENALTY on DAL-T.Smith False ...
3   (5:39) (Shotgun) T.Romo pass short middle to M...
4   (5:01) (Shotgun) T.Romo pass short right to K....
5   (4:26) PENALTY on DAL-J.Witten False Start 5 y...
6   (4:09) D.Murray left guard to NYG 46 for 5 yar...
7   (3:22) (Shotgun) T.Romo pass incomplete deep l...
8   (3:13) (Shotgun) T.Romo pass short left to K.O...
9   (2:46) L.Vickers left guard to NYG 37 for no g...
10  (2:12) E.Manning pass short right to H.Nicks t...
11  (1:35) A.Bradshaw left end to 50 for 3 yards (...
12  (:58) A.Bradshaw right guard to DAL 45 for 5 y...
13  (:21) (Shotgun) E.Manning pass short right to ...
14  (15:00) E.Manning sacked at NYG 44 for -15 yar...
15  (14:30) (Shotgun) E.Manning pass short middle ...
16  (13:46) (Shotgun) E.Manning pass incomplete sh...
17  (13:36) S.Weatherford punts 45 yards to end zo...
18  (13:27) T.Romo pass short middle to D.Bryant t...
19  (12:41) D.Murray right end to DAL 37 for -1 ya...
20  (11:57) T.Romo up the middle to DAL 45 for 8 y...
21  (11:10) (Shotgun) PENALTY on DAL-T.Romo Delay ...
22  (10:46) (Shotgun) T.Romo pass short middle int...
23  (10:30) A.Bradshaw right end pushed ob at DAL ...
24  (10:05) A.Bradshaw left tackle to DAL 4 for -1...
25  (9:23) (Shotgun) E.Manning pass incomplete sho...
26  (9:14) L.Tynes 22 yard field goal is GOOD Cent...
27  L.Tynes kicks 67 yards from NYG 35 to DAL -2. ...
28  (9:05) D.Murray right tackle to DAL 22 for 2 y...
29  (8:33) T.Romo pass short left to J.Hanna to DA...
30  (7:59) D.Murray right tackle to DAL 35 for 3 y...
31  (7:20) PENALTY on DAL-D.Free False Start 5 yar...

                           3rd Down Yards  Successful_3rd  offscore  defscore  \
0                            Not 3rd Down  NA OR No Yards         0         0
1                            Not 3rd Down  NA OR No Yards         0         0
2                            Not 3rd Down  NA OR No Yards         0         0
3                            Not 3rd Down  NA OR No Yards         0         0
4                                      14         Success         0         0
5                            Not 3rd Down  NA OR No Yards         0         0
6                            Not 3rd Down  NA OR No Yards         0         0
7                            Not 3rd Down  NA OR No Yards         0         0
8                                       9            NoGo         0         0
9                            Not 3rd Down  NA OR No Yards         0         0
10                           Not 3rd Down  NA OR No Yards         0         0
11                           Not 3rd Down  NA OR No Yards         0         0
12                           Not 3rd Down  NA OR No Yards         0         0
13                                      4         Success         0         0
14                           Not 3rd Down  NA OR No Yards         0         0
15                           Not 3rd Down  NA OR No Yards         0         0
16  Incomplete/Intercepted Pass OR fumble  NA OR No Yards         0         0
17                           Not 3rd Down  NA OR No Yards         0         0
18                           Not 3rd Down  NA OR No Yards         0         0
19                           Not 3rd Down  NA OR No Yards         0         0
20                           Not 3rd Down  NA OR No Yards         0         0
21                                      5         Success         0         0
22                                     51         Success         0         0
23                           Not 3rd Down  NA OR No Yards         0         0
24                           Not 3rd Down  NA OR No Yards         0         0
25  Incomplete/Intercepted Pass OR fumble  NA OR No Yards         0         0
26                           Not 3rd Down  NA OR No Yards         0         0
27                           Not 3rd Down  NA OR No Yards         3         0
28                           Not 3rd Down  NA OR No Yards         0         3
29                           Not 3rd Down  NA OR No Yards         0         3
30                           Not 3rd Down  NA OR No Yards         0         3
31                           Not 3rd Down  NA OR No Yards         0         3

    season
0     2012
1     2012
2     2012
3     2012
4     2012
5     2012
6     2012
7     2012
8     2012
9     2012
10    2012
11    2012
12    2012
13    2012
14    2012
15    2012
16    2012
17    2012
18    2012
19    2012
20    2012
21    2012
22    2012
23    2012
24    2012
25    2012
26    2012
27    2012
28    2012
29    2012
30    2012
31    2012
(473893, 15)

In [247]:
NFL_DataFrame = NFLDataFrame.dropna()

In [248]:
GameCount = NFL_DataFrame.gameid.count()
print GameCount
#This is the amount of records in the DFrame now - without the BLANKS in the core csv file evidently.

389985

Now, I need to find out if the team won the game or lost the game.

In order to gather the data regarding succssessful 3rd down conversion, I will have to mask everything by the "Successful_3rd" column that I created in MicroSoft Access.

In [249]:
datamask = NFLDataFrame.Successful_3rd == "Success"

ONLY_SUCC = NFLDataFrame[datamask]
x = ONLY_SUCC.Successful_3rd.unique()
print x 
#ONLY_SUCC.head(15)

['Success']

In [250]:
ByQtr_success = ONLY_SUCC.groupby(["gameid","off","qtr"]).Successful_3rd.count()
#print ByQtr_success

This is nice, but notice how the columns (by quarter) above DO NOT tell me when there is a quarter that has NO 3rd down conversions - to get around this, I decided to use a Pivot table, later on I will find out that there were actually teams that had no 3rd down conversions the entire game.

But we will see what happens when we merge this data with the other two features.

OK, I will need to incorporate a Pivot Table with the use of an unstack() flavor.  I went to the StackOverflow website and asked the question AFTER creating an account. MLybeer **** BeastMode@24 **** everything is attached to my Gmail account. . . mlybeer1@gmail.com

In [251]:
QUARTER_FRAME = ONLY_SUCC.pivot_table(index=['gameid','off']
                            ,columns=['qtr']
                            ,values=['Successful_3rd']
                            ,fill_value=0
                            ,aggfunc='count').rename(columns={1:'First',2:'Second',3:'Third',4:'Fourth',5:'Overtime'})           
                            
print QUARTER_FRAME                           
QUARTER_FRAME.describe()

                     Successful_3rd
qtr                           First Second Third Fourth Overtime
gameid           off
20020905_SF@NYG  NYG              1      4     1      4        0
                 SF               1      2     1      0        0
20020908_ARI@WAS ARI              2      1     2      0        0
                 WAS              3      2     1      2        0
20020908_ATL@GB  ATL              0      1     3      1        0
                 GB               2      4     1      0        0
20020908_BAL@CAR BAL              1      1     2      2        0
                 CAR              3      3     0      2        0
20020908_DAL@HOU DAL              0      1     1      0        0
                 HOU              1      0     1      1        0
20020908_DET@MIA DET              1      2     2      3        0
                 MIA              1      2     1      1        0
20020908_IND@JAC IND              4      1     3      2        0
                 JAC              3      2     1      2        0
20020908_KC@CLE  CLE              1      0     2      1        0
                 KC               4      2     1      0        0
20020908_MIN@CHI CHI              1      1     2      2        0
                 MIN              3      1     1      2        0
20020908_NO@TB   NO               4      2     3      0        1
                 TB               0      1     0      5        1
20020908_NYJ@BUF BUF              2      4     0      2        0
                 NYJ              0      2     1      0        0
20020908_PHI@TEN PHI              0      3     2      2        0
                 TEN              1      0     1      2        0
20020908_SD@CIN  CIN              0      1     2      3        0
                 SD               2      1     2      1        0
20020908_SEA@OAK OAK              1      3     1      0        0
                 SEA              0      2     0      0        0
20020908_STL@DEN DEN              1      0     2      0        0
                 STL              0      1     1      1        0
...                             ...    ...   ...    ...      ...
20121230_OAK@SD  OAK              1      3     3      3        0
                 SD               1      1     0      0        0
20121230_PHI@NYG NYG              2      0     2      3        0
                 PHI              1      1     4      0        0
20121230_STL@SEA SEA              2      0     4      2        0
                 STL              0      1     0      1        0
20121230_TB@ATL  ATL              1      1     0      1        0
                 TB               1      2     3      1        0
20130105_CIN@HOU CIN              0      0     0      1        0
                 HOU              1      4     3      2        0
20130105_MIN@GB  GB               0      0     2      2        0
                 MIN              1      1     2      0        0
20130106_IND@BAL BAL              0      1     1      2        0
                 IND              2      1     3      3        0
20130106_SEA@WAS SEA              1      1     2      2        0
                 WAS              2      0     1      0        0
20130112_BAL@DEN BAL              1      0     2      2        3
                 DEN              3      1     2      1        2
20130112_GB@SF   GB               2      1     1      2        0
                 SF               4      3     1      0        0
20130113_HOU@NE  HOU              0      1     1      2        0
                 NE               0      3     1      3        0
20130113_SEA@ATL ATL              3      3     2      0        0
                 SEA              0      1     1      1        0
20130120_BAL@NE  BAL              0      1     2      2        0
                 NE               2      1     1      3        0
20130120_SF@ATL  ATL              2      0     1      2        0
                 SF               1      2     1      1        0
20130203_BAL@SF  BAL              3      3     2      2        0
                 SF               2      0     1      0        0

[5252 rows x 5 columns]

      Successful_3rd
qtr            First       Second        Third       Fourth     Overtime
count    5252.000000  5252.000000  5252.000000  5252.000000  5252.000000
mean        1.260091     1.514661     1.272087     1.376428     0.043793
std         1.088252     1.193829     1.107289     1.140718     0.271803
min         0.000000     0.000000     0.000000     0.000000     0.000000
25%         0.000000     1.000000     0.000000     1.000000     0.000000
50%         1.000000     1.000000     1.000000     1.000000     0.000000
75%         2.000000     2.000000     2.000000     2.000000     0.000000
max         7.000000     7.000000     7.000000     6.000000     3.000000

In [252]:
Game_abs_value = QUARTER_FRAME["Successful_3rd"].Fourth + QUARTER_FRAME["Successful_3rd"].Third + QUARTER_FRAME["Successful_3rd"].Second + QUARTER_FRAME["Successful_3rd"].First
Game_total_delta = (QUARTER_FRAME["Successful_3rd"].Fourth + QUARTER_FRAME["Successful_3rd"].Third) - (QUARTER_FRAME["Successful_3rd"].Second + QUARTER_FRAME["Successful_3rd"].First) 
Game_coeff = (Game_total_delta / Game_abs_value) * 0.5
                
#print Game_coeff

In [253]:
First_abs_value = QUARTER_FRAME["Successful_3rd"].Second + QUARTER_FRAME["Successful_3rd"].First
First_total_delta = (QUARTER_FRAME["Successful_3rd"].Second) - (QUARTER_FRAME["Successful_3rd"].First) 
First_coeff = (First_total_delta / First_abs_value) * 0.25
                
#print First_coeff

In [254]:
Second_abs_value = QUARTER_FRAME["Successful_3rd"].Third + QUARTER_FRAME["Successful_3rd"].Fourth
Second_total_delta = (QUARTER_FRAME["Successful_3rd"].Fourth) - (QUARTER_FRAME["Successful_3rd"].Third) 
Second_coeff = (Second_total_delta / Second_abs_value) * 0.25
                
#print Second_coeff

In [262]:
Final_3rd_score = Game_coeff + First_coeff + Second_coeff
print "Maximum Ranking", round(Final_3rd_score.max(),3)
print "Minimum Ranking", round(Final_3rd_score.min(),3)
print "Average Ranking", round(Final_3rd_score.mean(),3)
print "Std. Deviation Ranking", round(Final_3rd_score.std(),3)

Final_3rd_score.describe()
print Final_3rd_score

Maximum Ranking 0.833
Minimum Ranking -0.875
Average Ranking 0.02
Std. Deviation Ranking 0.297
gameid            off
20020905_SF@NYG   NYG    0.300000
                  SF    -0.416667
20020908_ARI@WAS  ARI   -0.433333
                  WAS   -0.091667
20020908_ATL@GB   ATL    0.425000
                  GB    -0.523810
20020908_BAL@CAR  BAL    0.166667
                  CAR    0.000000
20020908_DAL@HOU  DAL    0.000000
                  HOU   -0.083333
20020908_DET@MIA  DET    0.258333
                  MIA   -0.016667
20020908_IND@JAC  IND   -0.200000
                  JAC   -0.091667
20020908_KC@CLE   CLE   -0.083333
                  KC    -0.690476
20020908_MIN@CHI  CHI    0.166667
                  MIN   -0.113095
20020908_NO@TB    NO    -0.500000
                  TB     0.833333
20020908_NYJ@BUF  BUF    0.083333
                  NYJ   -0.166667
20020908_PHI@TEN  PHI    0.321429
                  TEN    0.083333
20020908_SD@CIN   CIN    0.633333
                  SD    -0.166667
20020908_SEA@OAK  OAK   -0.425000
                  SEA         NaN
20020908_STL@DEN  DEN   -0.333333
                  STL    0.416667
                           ...
20121230_OAK@SD   OAK    0.225000
                  SD          NaN
20121230_PHI@NYG  NYG    0.014286
                  PHI   -0.083333
20121230_STL@SEA  SEA   -0.083333
                  STL    0.500000
20121230_TB@ATL   ATL    0.083333
                  TB     0.029762
20130105_CIN@HOU  CIN         NaN
                  HOU    0.100000
20130105_MIN@GB   GB          NaN
                  MIN   -0.250000
20130106_IND@BAL  BAL    0.583333
                  IND    0.083333
20130106_SEA@WAS  SEA    0.166667
                  WAS   -0.666667
20130112_BAL@DEN  BAL    0.050000
                  DEN   -0.279762
20130112_GB@SF    GB     0.000000
                  SF    -0.660714
20130113_HOU@NE   HOU    0.583333
                  NE     0.446429
20130113_SEA@ATL  ATL   -0.500000
                  SEA    0.416667
20130120_BAL@NE   BAL    0.550000
                  NE     0.113095
20130120_SF@ATL   ATL   -0.066667
                  SF    -0.016667
20130203_BAL@SF   BAL   -0.100000
                  SF    -0.666667
Length: 5252, dtype: float64

Great!  Now, let's also calculate a 'percent differential' of the total sum of offensive plays.  I originally planned on correlating the 'percent differenctial' on time-of-possesion, but on further assessment I believe that the total sum of offensive plays may actually be a better gauge for measuring the who has the kinetic possesion of the ball more (as opposed to the potential possesion represented by the clock).

I think some simple Groupbys will work best for this section... let's see.

In [263]:
Possesion = (NFLDataFrame.groupby(["gameid","off"]).off.count() / NFLDataFrame.groupby(["gameid"]).off.count()) * 100
#print Possesion

Actually, I'm pretty sure that the Win_Loss groupby and the Possesion groupbys can by combined in the same general aggregate view.

In [264]:
g = NFLDataFrame.groupby(["gameid","off"])
##
v = np.where((g.offscore.max() - g.defscore.max()) >= 0, 1, 0)
p = ((NFLDataFrame.groupby(["gameid","off"]).off.count() / NFLDataFrame.groupby(["gameid"]).off.count()) * 100).round(1)
opp_p = 100 - p
diff = p - opp_p


 
# Now, lets scale this from 1 to -1 
scaler = MinMaxScaler(feature_range=(-1,1))
##---------------------------
df = pd.DataFrame({'Win/Loss' : v, 'Possesion %' : diff, '3rd Down Conversion Rank' : Final_3rd_score})

In [265]:
df.dtypes

3rd Down Conversion Rank    float64
Possesion %                 float64
Win/Loss                      int32
dtype: object

In [266]:
df.shape

(5818, 3)

In [267]:
DF_ = df.fillna({'3rd Down Conversion Rank' : 0.0}, inplace=True)
#print DF_

In [268]:
## center and scale the data
scaler = StandardScaler()
ALL_feature_cols = ['3rd Down Conversion Rank','Possesion %']
df_scaled = scaler.fit_transform(df[ALL_feature_cols])
df_scaled = pd.DataFrame(df_scaled,columns=ALL_feature_cols)
print "Before scaling:\n", df[ALL_feature_cols].describe()
print "\nAfter scaling:\n", np.round(df_scaled.describe(),2)

Before scaling:
       3rd Down Conversion Rank  Possesion %
count               5818.000000  5818.000000
mean                   0.016330     0.000034
std                    0.265572    10.617802
min                   -0.875000   -39.200000
25%                   -0.095400    -7.000000
50%                    0.000000     0.000000
75%                    0.166667     7.000000
max                    0.833333    39.200000

After scaling:
       3rd Down Conversion Rank  Possesion %
count                   5818.00      5818.00
mean                       0.00         0.00
std                        1.00         1.00
min                       -3.36        -3.69
25%                       -0.42        -0.66
50%                       -0.06         0.00
75%                        0.57         0.66
max                        3.08         3.69

Great!  I have my scaled dataset.  Now I have to goback and use 0 and 1 for a Loss or a Win --

In [94]:
logreg = LogisticRegression(C=1e9)
ALL_feature_cols = ['pelvic_incidence','pelvic_tilt','lumbar_lordosis_angle','sacral_slope','pelvic_radius','spondy_grade']
X_ALL = vertebral_data[ALL_feature_cols]

NameError: name 'vertebral_data' is not defined